In [12]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [5]:
data = pd.read_excel("forex_data.xlsx")

c:\Users\jaycee\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [6]:
data.head()

  2023-01-01 17:04:00   1.0697  1.06974  1.0697.1  1.0697.2  0.0
0 2023-01-01 17:05:00  1.06973  1.06978   1.06970   1.06971  0.0
1 2023-01-01 17:06:00  1.06966  1.06966   1.06966   1.06966  0.0
2 2023-01-01 17:08:00  1.06970  1.06974   1.06970   1.06974  0.0
3 2023-01-01 17:10:00  1.06975  1.06980   1.06972   1.06972  0.0
4 2023-01-01 17:11:00  1.06972  1.06972   1.06972   1.06972  0.0

In [7]:
data.columns

Index([2023-01-01 17:04:00, 1.0697, 1.06974, '1.0697.1', '1.0697.2', 0.0], dtype='object')

Assigning

# Cleaning the data

Assigning column headings to the DataFrame

In [8]:
data.columns = ['Date', 'Open', 'High', 'Low','Close', 'Volume']

In [9]:
# Save the updated Dataframe to a new CSV file
# data.to_csv('forex_data.csv', index=False)

# Load the updated dataframe

In [10]:
data = pd.read_csv("forex_data.csv")

In [11]:
data.head()

                  Date     Open     High      Low    Close  Volume
0  2023-01-01 17:05:00  1.06973  1.06978  1.06970  1.06971     0.0
1  2023-01-01 17:06:00  1.06966  1.06966  1.06966  1.06966     0.0
2  2023-01-01 17:08:00  1.06970  1.06974  1.06970  1.06974     0.0
3  2023-01-01 17:10:00  1.06975  1.06980  1.06972  1.06972     0.0
4  2023-01-01 17:11:00  1.06972  1.06972  1.06972  1.06972     0.0

# Checking For missing values
Check if there are any missing values in the data and decide how to handle them. You can either remove the rows with missing values or impute the missing values with appropriate techniques such as mean or median imputation.<br>
In our case we will use the mean

In [15]:
if data.isnull().values.any():
    data = data.fillna(data.mean())

# Checkin for duplicates.
Check if there are any duplicate rows in the data and remove them if necessary.

In [17]:
if data.duplicated().values.any():
    data= data.drop_duplicates()

# Remove outliers from the 'Close' column using z-score
Next, we remove outliers from the 'Close' column using z-score, where any data point that lies outside 3 standard deviations from the mean is considered an outlier and removed.

In [18]:
data = data[(data['Close'] - data['Close'].mean())/ data['Close'].std() < 3]

# Normalize the data usng StandardScaler
Finally, we normalize the data using StandardScaler by first initializing a StandardScaler object, and then applying it to the relevant columns using the fit_transform() method.

In [19]:
scaler = StandardScaler()
data[['Open', 'High', 'Low', 'Close', 'Volume']] = scaler.fit_transform(data[['Open', 'High', 'Low', 'Close', 'Volume']])

In [20]:
# Save the Cleaned DataFrame to a new CSV file
data.to_csv('Cleaned_forex_data.csv', index=False)

# Reshaping the dataset

In the case of time series data like Forex, the shape of the input data is very important. The input data should be a 3D array of shape (num_samples, sequence_length, num_features), where:

```num_samples``` is the number of samples in the dataset.
```sequence_length``` is the length of the input sequence that the model will process at once.
```num_features``` is the number of features in the input data.
This 3D array can be interpreted as a sequence of ```num_samples``` input sequences, each of length ```sequence_length``` and with ```num_features``` features.

In [22]:
# Read the cleaned data CSV file into pandas DataFrame
data = pd.read_csv("Cleaned_forex_data.csv")


# Define the sequence length
sequence_length = 30

In [ ]:
def create_sequences(data, sequence_length):